<?xml version="1.0" encoding="UTF-8" ?>
<launch>
	<!-- sync teims -->
	<param name="/use_sim_time" value="true" />

        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
        <arg name="world" default="$(find fyp_simulation)/worlds/FYP_world.world" />
	<arg name="robot_name" value="robot_1" />

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" /> 
        </include>

	<!-- gazebo SPAWN -->
  	
	<include file="$(find fyp_simulation)/launch/fyp_spawn.launch">
	<arg name="robot_name" value="$(arg robot_name)"/>
	<arg name="init_pose" value="-x -7.0 -y -3.0 -z 0.0"/>
	<arg name="model" value="$(arg model)"/>
	</include>  

	
</launch>
